

*{
		box-sizing: border-box;
		
		/*font-family: sans-serif;*/

}
body{
		padding: 2vh 4vw 2vh 4vw;

	}
@media screen and (min-width: 400px) {
  body {
    background-color: rgb(231, 205, 205);
  }
}
#nav-bar{
			float: right;
			margin-right: 5%;
			min-width: 30%;
			padding-left: 10%;
			margin-top: 40px;
			font-size: 18px;
}
#nav-bar a{
			 margin: 5%;
				max-width: 100%;
}
.container{
    clear: right;
		margin: 5%;
    overflow: auto;
}
#logo{
		max-width: 25%;
		max-height: 25vh;
}
#background{
			 
			width: 75%;
			float: right;
			max-height: 25vh;
}

.about{
margin-top: 50%;
margin: 5%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
max-width: 100%;

}
#footer-menu>a{
    margin: 5px;

}
#footer-menu{
    float: right;

}


#img{
	background: url("{% static 'ashiriblogapp/images/people.jpg' %}");
}

