{% extends "ashiriblogapp/base.html" %}
{% load static %}

{% block title%} Ashiri2.0 Homepage {% endblock %}


{% block style %}
	<style>
			.about_style{
				width: 75%;
				float: right;
				max-height: 25vh;

		}
		.logo{
				max-width: 25%;
				max-height: 25vh;

		}
		#footer-menu>a{
    margin: 5px;

	}
	#footer-menu{
			float: right;

	}
	</style>

{% endblock %}


{% block body%}
		<div class="container  mt-4">
			
					<img src="{% static 'ashiriblogapp/images/Gossip.jpg' %}" class=" about_style"  >
					<img src="{% static 'ashiriblogapp/images/Ashiri-logos__transparent.png' %}" class="logo">
				<div class="content mt-5">
					<h3>An online blog community for reporting rummor around health</h3>
						<p>
							What disturbing or pressing news do you have today? has this been speculating for long and you are unsure about this
							type of news or information? 
						</p>
						<p>
							Join our online blog community and help the government of Sierra Leone to track and address malicious health rumors that are been spread everyday.  
							feel free to discuss any news or information of concern spreading within the nation.
							See what others has to say about it and understand how public experts are adressing specific news of concern and are keeping the public safe 
							from malicious information that targets public well being and impacts emergency response activities.
							learn more on how certain information can inpact our health and retract from spreading them more further.
						
						</p>
				</div>
		
		</div>

		<div id="footer">
		<div id="footer-menu">
			<a href="#" >Terms & conditions</a> |
			<a href="#">Privacy policy</a>         
		</div>     
	</div>

{% endblock %}