{% extends "ashiriblogapp/base.html" %}
{% load static %}


{% block title%} Ashiriblog List {% endblock %}


{% block style %}
	<style>
			.link-style{
				text-decoration: none;
				color: black;
				

		}
		.link-style:hover{
				text-decoration: none;
				color: rgb(183, 69, 151);

		}
		body{
			background: url("{% static 'ashiriblogapp/images/Ashiri-logos__transparent.png' %}");
			background-repeat: no-repeat;
			background-size: 25%;
			background-position: center bottom;
		}
	
	</style>
	

{% endblock %}

{% block body %}

		
		<div class="container mt-4">
				{% for blog in article_list %}
					<span class="badge rounded-pill bg-success"  >Authors: {{blog.author}}</span>
					<h4 ><a class="link-style" href="{% url 'article_detail' blog.slug %}">{{blog.title}}</a></h4>
				

				{% endfor %}

				{% include 'ashiriblogapp/pagination.html' with page=article_list %}
			</div>


{% endblock %}