{% extends "ashiriblogapp/base.html" %}


{% block title%} Login {% endblock %}


{% block style %}
	<style>
			.register_style{
				width: 500px;
				margin: auto;

		}
	</style>

{% endblock %}


{% block body%}
		<div class="container mt-4 register_style">
			<h1> User Login</h1>
			<p>Please login if you are an existing user</p>
			<form action	= "" method="post">
					{% csrf_token %} 
					{{form.as_p}}
					

					<input type="submit" value="Login" class="btn btn-success">
			</form>
			<div>




			</div class = "row mt-4">
					<div class="col">
						<button class="btn btn-primary">
							<a class="link-style" href="{% url 'social:begin' 'facebook' %}">Facebook Signin</a>
						</button>
					</div>
					<div class="col">
						<button class="btn btn-danger">
							<a class="link-style" href="{% url 'social:begin' 'github' %}">Github Signin</a>
						</button>
					</div>
					<div class="col">
						<button class="btn btn-warning">
							<a class="link-style" href="{% url 'social:begin' 'linkdein-oauth2' %}">LinkedIn Signin</a>
						</button>
					</div>



		</div>




{% endblock %}