{% extends "ashiriblogapp/base.html" %}


{% block title%} Login {% endblock %}


{% block style %}
	<style>
			.register_style{
				width: 500px;
				margin: auto;

		}
	</style>

{% endblock %}


{% block body%}
		<div class="container mt-4 register_style">
			<h1> User Login</h1>
			<p>Please login if you are an existing user</p>
			<form action	= "" method="post">
					{% csrf_token %} 
					{{form.as_p}}
					

					<input type="submit" value="Login" class="btn btn-success">
			</form>
		

		</div>

{% endblock %}