{% extends "ashiriblogapp/base.html" %}
{% load static %}

{% block title%} Login {% endblock %}


{% block style %}
	<style>
			.register_style{
				width: 500px;
				margin: auto;

		}
.page{
				background-color: rgb(246, 213, 213);
				background-image: url("{% static 'ashiriblogapp/images/black image.jpg' %}");
				background-image: no-repeat;
				background-image: 100%;
				opacity: 0.3;
			}
	</style>

{% endblock %}


{% block body%}
	<body>
		<img class="page" src="{% static 'ashiriblogapp/images/black image.jpg' %}" alt="">
		<div class="container mt-4 register_style">
			<h1> User Login</h1>
			<p>Please login if you are an existing user</p>
			<form action	= "" method="post">
					{% csrf_token %} 
					{{form.as_p}}
					

					<input type="submit" value="Login" class="btn btn-success">
			</form>
		
	</body>

		</div>

{% endblock %}