{% extends "ashiriblogapp/base.html" %}
{% load static %}


{% block title %}Ashriblog signup done{% endblock %}
{% block style %}
<style>
		body{
						background-color: rgb(246, 213, 213);
						background: url("{% static 'ashiriblogapp/images/black image.jpg' %}");
						background-repeat: no-repeat;
						background-size: 100%;
						opacity: 0.2;
					}

</style>
{% endblock %}

{% block body %}
<body>

	<div class="container">
		<h3>Welcome, {{new_user.username}}</h3>
		<p>Your account has been create, you can  <a href="{% url 'user_login' %}">Login here</a></p>

	</div>
</body>

{% endblock %}