{% extends "ashiriblogapp/base.html" %}
{% load static %}


{% block title %}Ashriblog signup done{% endblock %}
{% block style %}
<style>
	body{
			background: url("{% static 'ashiriblogapp/images/Ashiri-logos__transparent.png' %}");
			background-repeat: no-repeat;
			background-size: 25%;
			background-position: right center;
		}
</style>
{% endblock %}

{% block body %}
<body>
	<div class="container">
		<h3>Welcome, {{new_user.username}}</h3>
		<p>Your account has been create, you can  <a href="{% url 'user_login' %}">Login here</a></p>

	</div>
</body>

{% endblock %}