{% extends "ashiriblogapp/base.html" %}
{% load crispy_forms_tags%}


{% block title%} {{form.title}} {% endblock %}

{% block style %}
	<style>
			.update_style{
				width: 500px;
				margin: auto;

		}
	</style>

{% endblock %}

{% block body %}
	<div class="container mt-4 update_style">
			<h3> Make changes</h3>
			
			<form action	= "" method="post">
					{% csrf_token %} 

					{{form | crispy}}
					

					<input type="submit" value="Update now" class="btn btn-success">
			</form>


		</div>
{% endblock %}