{% extends "ashiriblogapp/base.html" %}
{% load static %}

{% block title %} Logged out {% endblock %}
 {% block style}
		<style>
				body{
			background: url("{% static 'ashiriblogapp/images/Ashiri-logos__transparent.png' %}");
			background-repeat: no-repeat;
			background-size: 100%;
		}
		</style>

{% endblock %}



{% block body %}
<div class="container mt-4">
		<p>You are currently logged out!, If you wish to continue just <a class="link-style" href="{% url 'user_login' %}"> Login back</a></p>


</div>


{% endblock %}