{% extends "ashiriblogapp/base.html" %}
{% load crispy_forms_tags%}

{% block title %} Change password {% endblock %}



{% block style %}
<style>
		.register_style{
				width: 500px;
				margin: auto;

		}

	</style>
{% endblock %}

{% block body %}
		<div class="container mt-5 register_style">
				<h3>Change your password</h3>
				<form action="" method="post">

							{% csrf_token %} 
							{{form | crispy}}

						<input type="submit" value="Change password" class="btn btn-success">
				</form>

		</div>


{% endblock %}